#search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 350px;
    margin-top: 70px;
    transition: background-color 0.5s, box-shadow 0.5s, border-radius 0.5s;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    background-color: #06A3DA;
    color: fff;
    box-shadow: 5px 5px 5px rgb(11, 11, 11,0.7) , inset 2px 2px 8px rgb(255, 255, 255);
}
.uploadcontainer{
    left: 100px;
    width: 1300px;
    height: 450px;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative; 
    top: 10px;
}

.uploadcontainer input{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 50px;
    width: 350px;
    font-size: 20px;
    font-weight: bold;
    background-color: #cacfd1;
}

#camerabutton{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 350px;
    font-size: 20px;
    font-weight: bold;
    background-color: #06A3DA;
    color: fff;
    box-shadow: 5px 5px 5px rgb(11, 11, 11,0.7) , inset 2px 2px 8px rgb(255, 255, 255);
    transition: background-color 0.5s, box-shadow 0.5s,border-radius 0.5s ;
}

#camerabutton:hover {
    background: #F57E57; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    color: black;
}
#search:hover {
    background: #F57E57; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    color: black;
}