.card {
    background-color: #a4cae4;
    border: none;
    border-radius: 12px
}

.form-control {
    
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #039BE5
}

.agree-text {
    font-size: 12px
}

.terms {
    font-size: 12px;
    text-decoration: none;
    color: #039BE5
}

.confirm-button {
    height: 45px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px
}

.card{
    box-shadow: 5px 5px 5px rgb(125, 129, 133);
}